
@font-face {
	font-family: def;
	src: url(files/default.ttf);
}


#core {
 width: auto;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 background: linear-gradient(90deg, #073, #37a);
 position: relative;
 overflow: hidden;
 font-family: def;
}


#fscanvas {
 width: auto;
 height: auto;
 flex-direction: column;
 align-items: center;
 background: linear-gradient(90deg, #386, #399);
 position: absolute
 
}

#head {
 width: 100%;
 height: 10%;
 margin: 0 0 0 0;
 display: flex;
 margin-left: 9px;
 align-items: center;
 
}
#headgroup {
 font-size: 1.3em;
}
#fsdiv {
	display: none;
	position: absolute;
}

#fstextdiv {
	display: block;
	width: 100%;
	height: 100%;
	pointer-events: none;
	position: absolute;
}
#fstextpos {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 0;
	left: 0;
	width: 40%;
	height: 15%;
}

#itwas {
	font-size: 2em;
}
#what {
	font-size: 3em;
}

body {
 margin: 0 0 0 0;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #fff;
 background: #000;
 
 text-shadow: 1px 0px 1px #000, -1px 0px 1px #000, 0px 1px 1px #000, 0px -1px 1px #000;
}

#content {
 background: #9430;
 
}

#question-div {
 background: #0005;
 display: flex;
 justify-content: center;
 align-items: center;
}
#question {
 font-size: 2.2em;
 text-align: center;
}

#picture-div {
 background: #0006;
 display: flex;
 justify-content: center;
 align-items: center;
}
#picture {
 background: #000;
}
#rambol-div {
 display: flex;
 justify-content: center;
 align-items: center;
 
 background: #3225;
}

#rambol {
 font-size: 2.4em;
}

#answer-div {
 display: flex;
 justify-content: center;
 align-items: center;
}

#control-div {
 display: flex;
 justify-content: right;
 align-items: center;
 flex-direction: row
}

.button-button {
 width: 16%;
 height: 70%;
 font-size: 1.3em;
 border: 2px solid #744;
 text-align: center;
 background: #599;
}

.button-button:hover{
 background: #999;
}
.button-button:click{
 background: #666;
}

#btn-check, #btn-ramrev {
 display: none;
}
